*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: aquamarine;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 350px;
    width: 250px;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(254, 236, 164, 1);
}
.wrapper h2{
    text-align: center;
    margin-bottom:  20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(0, 0, 0)
    

}
.wrapper .input_field{
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrapper .input_field input[ type="text"],
.wrapper textarea{
    width: 100%;
    border: 1px solid #adb908;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper textarea{
    height: 80px;
    resize: none;
}
.wrapper .btn input[type="submit"]{
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #adb908;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;

}
.wrapper #error_message{
    margin-bottom: 20px;
    padding: 0px;
    border-color: red;
    color: red;
    background: #4dfcff;
    text-align: center;
    transition: all 0.5s ease;
}
.error{
    color: red;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 1px;
    font-weight: 500;
    
}
.done{
    color: green;
    font-family: 'Times New Roman', Times, serif;
}
/* label{
    font-family: cursive;
} */
